# Dependabot will run on day 25 of each month at 03:58 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "58 3 25 * *"
    open-pull-requests-limit: 15
    assignees:
      - "bolliy"
    versioning-strategy: "increase"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "58 3 25 * *"
    open-pull-requests-limit: 15
    assignees:
      - "bolliy"
